.filter {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 280px;
  height: 100%;
  padding: 18px;
  margin-right: 10px;
  .title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--el-color-info-dark-2);
    letter-spacing: 0.5px;
  }
  .tree-header {
    .header-button-lf {
      float: left;
    }
    .header-button-ri {
      float: right;
    }
    :deep(.el-button) {
      margin-bottom: 15px;
    }
  }
  .el-input {
    margin: 0 0 15px;
  }
  .el-scrollbar {
    flex: 1 1 auto;
    overflow: auto;
    :deep(.el-tree) {
      .el-tree-node__content {
        height: 30px;
      }
    }
    :deep(.el-tree--highlight-current) {
      .el-tree-node.is-current > .el-tree-node__content {
        background-color: var(--el-color-primary);
        .el-tree-node__label,
        .el-tree-node__expand-icon {
          color: white;
        }
        .is-leaf {
          color: transparent;
        }
      }
    }
  }
}
