# @see: http://editorconfig.org

root = true

[*] # Express all files applicable
charset = utf-8 # Set the file character set to utf-8
end_of_line = lf # Control the type(lf | cr | crlf)
insert_final_newline = true # Always insert a new line at the end of the file
indent_style = space # Extinction style (TAB | space）
indent_size = 2 # Indentation
max_line_length = 130 # Maximum length

[*.md] # Only md The following rules are applicable
max_line_length = off # Close the maximum line length limit
trim_trailing_whitespace = false # Turn off the end of the end of the empty lattice trimming
