// * set up notification Hierarchical loading Above
.el-notification {
	z-index: 99999 !important;
}

// * set up message Hierarchical loading Above
.el-message {
	z-index: 99999 !important;
}

// * el-tree style
.tree-box {
	display: flex;
	flex-direction: column;
	height: 100%;
	// sheet header style
	.tree-header {
		.header-button-lf {
			float: left;
			.el-button {
				margin-bottom: 15px;
			}
		}
		.header-button-ri {
			float: right;
			.el-button {
				margin-bottom: 15px;
			}
		}
	}
	.el-input {
		margin-bottom: 10px;
	}
}

.el-row {
	height: 100%;
	flex-wrap: unset;
}

// * el-table style
.table-box {
	display: flex;
	flex-direction: column;
	height: 100%;

	// sheet search style
	.table-search {
		display: flex;
		margin-bottom: 10px;
		.el-form {
			max-width: 1260px;
			.el-form-item {
				margin-right: 5px;
				.el-input,
				.el-select,
				.el-date-editor--timerange {
					width: 210px;
				}
				.el-date-editor--datetimerange,
				.el-date-editor--daterange {
					width: 400px;
				}

				// Remove the time selector up and down padding
				.el-range-editor.el-input__wrapper {
					padding: 0 10px;
				}

				// el-select Do not change the display when choosing a multi -choice
				.el-select__tags {
					overflow: hidden;
					white-space: nowrap;
				}
			}
			.more-item {
				display: inline;
			}
		}
		.search-operation {
			margin-left: 15px;
			white-space: nowrap;
			.search-isOpen {
				margin-left: 20px;
			}
		}
	}

	// sheet header style
	.table-header {
		.header-button-lf {
			float: left;
			.el-button {
				margin-bottom: 15px;
			}
		}
		.header-button-ri {
			float: right;
			.el-button {
				margin-bottom: 15px;
			}
		}
	}

	// el-table Table style
	.el-table {
		// The form is adaptive to support the entire page(already setup flex:1,The table on the page must be added height Attributes)
		flex: 1;
		.el-table__header th,
		.el-table__body td {
			// text-align: center;
		}
		.el-table__header th {
			height: 45px;
			font-size: 15px;
			font-weight: bold;
			color: #252525;
			background: #fafafa;
		}

		// table middle image Picture style
		.table-image {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		// solve el-table middle header Text change problem
		.el-table__header .el-table__cell > .cell {
			white-space: nowrap;
		}
		.el-table__row {
			// height: 52px;
		}

		// Solve the form data of the form data is not in the middle of the time(Only in Element-In Plus)
		.el-table__empty-block {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.table-empty {
				line-height: 30px;
			}
		}

		// table 中 image 图片样式
		.table-image {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}

	// Form Paggment style
	.el-pagination {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}
}

// * el-table 组件大小特殊样式
.el-table--large {
	.el-table__row,
	.el-table__header th {
		height: 52px !important;
		// font-size: 16px !important;
	}
}
.el-table--small {
	.el-table__row,
	.el-table__header th {
		height: 38px !important;
		// font-size: 14px !important;
	}
}

// * EL-DRAWER style
.el-drawer {
	// DRAWER Header style
	.el-drawer__header {
		padding: 15px 20px 14px;
		margin-bottom: 0;
		border-bottom: 1px solid #ebeef5;
		span {
			font-size: 17px;
			color: #303133;
		}
	}

	// DRAWER Header style
	.el-drawer__footer {
		border-top: 1px solid #ebeef5;
	}
	.el-select {
		width: 100%;
	}

	// DRAWER-FORM multi-column form-item
	.drawer-multiColumn-form {
		display: flex;
		flex-wrap: wrap;
		.el-form-item {
			width: 47%;
			&:nth-child(2n-1) {
				margin-right: 5%;
			}
		}
	}
}

.form-item-with-buttons {
	width: 100%;
	.el-space {
		width: 100%;
		.el-space__item {
			&:first-child {
				width: 100%;
			}
			&:last-child {
				margin-right: 0px !important;
			}
			& > .el-button-group {
				width: max-content;
			}
		}
	}
}

// * El-Dialog style
.el-dialog {
	.el-dialog__header {
		padding: 15px 20px;
		margin: 0;
		border-bottom: 1px solid #f0f0f0;
		.el-dialog__title {
			font-size: 17px;
		}
	}
}
