.login-container {
  position: relative;
  min-height: calc(100% - 30px);
  padding: 15px;
  // background-color: #eeeeee;
  background-color: var(--el-bg-color-page);
  // background-image: url("@/assets/images/login_bg.svg");
  background-position: 50%;
  background-size: 100% 100%;
  background-size: cover;
  .dark {
    position: absolute;
    top: 20px;
    right: 26px;
  }
  .login-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 100%;
    height: -webkit-fill-available;
    // min-height: 100%;
    padding: 50px;
    background-color: var(--el-bg-color-page);
    // background-color: var(--el-bg-color);
    border-radius: 10px;
    .login-left {
      flex: 40%;
      max-width: 420px;
      img {
        width: 80%;
        height: 80%;
        display: block;
        margin: auto;
      }
    }
    .login-form {
      // similar to .card

      // flex: 50%;
      box-sizing: border-box;
      max-width: 420px;
      padding: 2em 2em 2em;
      // padding: 20px;
      // overflow-x: hidden;
      background-color: var(--el-bg-color);
      border: 1px solid var(--el-border-color-light);
      border-radius: 6px;
      box-shadow: 0 0 12px rgb(0 0 0 / 5%);

      .login-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 45px;
        .login-icon {
          width: 60px;
          height: 52px;
        }
        .logo-text {
          // padding: 0 0 0 25px;
          margin: 0;
          font-size: 42px;
          font-weight: bold;
          white-space: nowrap;
          color: var(--el-text-color-primary) !important;
        }
      }
      // .el-form-item {
      //   margin-bottom: 40px;
      // }
      .login-btn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // flex-flow: row wrap;
        justify-content: space-between;
        white-space: nowrap;
        gap: 10px 10px;

        .el-button {
          // margin-bottom: 12px;
          margin-left: 0px;
          flex: 1; /* This is the key to filling the space */
        }
        .el-divider {
          margin: 50px 0 24px 0;
        }
      }
    }
  }
}
